*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    background-color: #000;
    background-image: url('images/Hero_Image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover{
    color: orange;
}
header{
    position: relative;
    padding: 0 4rem;
}

/*Navigation Bar*/
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.order_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2 ease;
}

.order_btn:hover{
    scale: 1.05;
    color: #fff;
}

.order_btn:active{
    scale: 0.95;
}

/*Dropdown*/
.dropdown{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: grey;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown.open{
    height: 250px;

}

.dropdown li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown .order_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*hero*/
section#hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
}

#hero h1{
    font-size: 5rem;
    margin-bottom: 1rem;
}

#hero p{
    font-size: 2rem;
}

/*Order Page*/

/*Menu*/
section#menu {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

#menu h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid orange;
    border-radius: 6px;
    color: #fff;
    margin-bottom: 12px;
    background-color:maroon;
}

.menu-item img {
    width: 180px;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 15px;
}

.menu-item p{
    margin-left: auto;
}

/*Cart*/
section#cart {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    background-color: maroon;
    padding: 20px;
    color: #fff;
}

#cart p{
    margin-left: auto;
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/*About*/

/*Bread*/
section#bread{
    display: flex;
    flex-direction: row;
    background-color: maroon;
    border: 1px solid orange;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-top: 3rem;
}

#bread img{
    width: 400px;
    height: 300px;
    object-fit: cover;
}

#bread h1{
    color: #fff;
    text-align: center;
}

/*Patty*/
section#patty{
    display: flex;
    flex-direction: row;
    background-color: maroon;
    border: 1px solid orange;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-top: 3rem;
}

#patty img{
    width: 400px;
    height: 300px;
    object-fit: cover;
}

#patty h1{
    color: #fff;
    text-align: center;
}

/*Chicken Patty*/
section#chicken{
    display: flex;
    flex-direction: row;
    background-color: maroon;
    border: 1px solid orange;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-top: 3rem;
}

#chicken img{
    width: 400px;
    height: 300px;
    object-fit: cover;
}

#chicken h1{
    color: #fff;
    text-align: center;
}

/*Values*/
section#values{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    color: #000;
    margin-top: 3rem;
    background-color: maroon;
    padding: 50px;
    border: 1px solid orange;
    border-radius: 15px;
}

.mission{
    display: flex;
    flex-direction: column;  
}
.mission h3{
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.mission p{
    margin-top: 10px;
    text-align: center;
    color: #fff;
    margin-top: 15px;
}

.vision{
    display: flex;
    flex-direction: column; 
}

.vision h3{
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.vision p{
    margin-top: 10px;
    text-align: center;
    color: #fff;
    margin-top: 15px; 
}

.quality{
    display: flex;
    flex-direction: column;
}

.quality h3{
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.quality p{
    margin-top: 10px;
    text-align: center;
    color: #fff;
    margin-top: 15px; 
}

/*Reservation Page*/
section#reservationForm{
    max-width: 600px;
    margin: 2em auto;
    padding: 1em;
    background-color: maroon;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px #000;
}

#reservationForm label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

#reservationForm input{
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    box-sizing: border-box;
}

#reservationForm select{
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    box-sizing: border-box;
}

#reservationForm button {
    background-color: #333;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#reservationForm button:hover {
    background-color: #555;
}

/*Footer*/
footer {
    background-color: #333;
    color: #000;
    padding: 2em 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content h2 {
    color: #ffcc00;
}

.footer-content p{
    font-size: 0.9em;
    line-height: 1.5;
    color: #fff;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-links{
    margin-top: 4em;
}

/*Google map*/
.footer-section .map-container {
    margin-top: 1em;
}

/*Social Media*/
.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.2em;
}

.social-media a {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    font-size: 4em;
}

.social-media a:hover {
    color: #ffcc00;
}

/*Bottom*/
.footer-bottom {
    margin-top: 2em;
    color: #fff;
}

.footer-bottom p {
    font-size: 0.8em;
}


@media(max-width: 992px){
    .navbar .links,
    .navbar .order_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown{
        display: block;
    }
    .menu-item{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu-item p{
        margin-left: 0px;
    }
    #reservationForm{
        width: 90%;
    }
    #reservationForm button{
        width: 100%;
    }
}


